<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="letus179.com.biubiu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.RegisterMainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.GetBackPwdActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".login.RegisterProtocolActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MySettingActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAccountActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAccountPhoneActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAccountPhoneChangeActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAccountPwdActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyNotifyActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyBlacklistActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAddressActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".myall.MyAddressNewActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".myall.MySuggestionActivity">
        </activity>
    </application>

</manifest>